* {   -ms-touch-action: pan-y; }
.slick-slider
{   -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#map > ymaps { position: relative; z-index: 2 !important; }


html { margin:0;padding:0; -webkit-font-smoothing: initial;}
body {
  -webkit-text-size-adjust: 100%;
  font-size: 16px;  
  line-height: 1.3;
  font-weight: 400;
  
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;

  /*font-family: 'Roboto';*/
  color: #212121;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;

  -webkit-font-smoothing: subpixel-antialiased;

 /* background: url(/img/back.jpg) repeat scroll center transparent;*/
}
body:after{
    position:absolute; width:0; height: 0; overflow: hidden; z-index:-1;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  width: 100%;
  min-width: 320px;
  /*max-width: 1280px;*/
  box-sizing: border-box;
}
.wrapper:before, .wrapper:after {  content: " ";  display: table;}
.wrapper:after { clear: both;}
.clear:before, .clear:after {  content: " ";  display: table;}
.clear:after { clear: both;}
.slick-track:before, .slick-track:after {  content: " ";  display: table;}
.slick-track:after { clear: both;}
.slick-list { overflow: hidden;}
.slick-track { display: -ms-flexbox; display: flex; }

.clearboth { clear: both;}
.clearleft { clear: left;}

.row:before, .row:after {  content: " ";  display: table;}
.row:after { clear: both;}
.row {  margin-left: -0.7em;  margin-right: -0.7em; }

[class*='col-'] {  
    float: left;  
    padding: 0 0.7em;
    box-sizing: border-box;
}

.col-12 { width: 100%;  }
.col-11 { width: 91.66666667%; }
.col-10 { width: 83.33333333%; }
.col-9 { width: 75%; }
.col-8 { width: 66.66666667%; }
.col-7 { width: 58.33333333%; }
.col-6 { width: 50%; }
.col-5 { width: 41.66666667%; }
.col-4 { width: 33.33333333%; }
.col-3 { width: 25%; }
.col-by5 { width: 20%; }
.col-2 { width: 16.66666667%; }
.col-1 { width: 8.33333333%; }

.off-11 { margin-left: 91.66666667%; }
.off-10 { margin-left: 83.33333333%; }
.off-9 { margin-left: 75%; }
.off-8 { margin-left: 66.66666667%; }
.off-7 { margin-left: 58.33333333%; }
.off-6 { margin-left: 50%; }
.off-5 { margin-left: 41.66666667%; }
.off-4 { margin-left: 33.33333333%; }
.off-3 { margin-left: 25%; }
.off-by5 { margin-left: 20%; }
.off-2 { margin-left: 16.66666667%; }
.off-1 { margin-left: 8.33333333%; }

/*:hover, :hover * { t-webkit-ransition: all 0.15s ease; -webkit-transition: all 0.15s ease; transition: all 0.15s ease;}*/
:focus { outline: none !important;}
a { color: #212121; transition: color .2s ease;}
a:hover { color:  #1678BC;}
a, button { cursor: pointer; text-decoration: none;}
.img_wrap { position: relative; }
.img_wrap img  { position: absolute; z-index: 2; max-width: 100%; max-height: 100%; margin: auto; top: 0;  bottom: 0; left: 0;}
p {margin-bottom: 15px;}
img { max-width: 100%; max-height: 100%;}
hr {
    background-color: #a7a9ac;
    border: medium none;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 6px;
}
.i { font-style: itelic;}

.rub { position: relative;}
.rub:before {
    border-bottom: 0.1em solid;
    bottom: 0.4em;
    content: "";
    left: 0;
    position: absolute;
    width: 0.3em;
}

.floatleft {float: left !important;}
.floatright {float: right !important;}
.aligncenter {text-align: center;}
.alignright {text-align: right;}
.alignleft{text-align: left;}
.alignjustify { text-align: justify;}
.valigntop { vertical-align: top !important;}
.valignbottom { vertical-align: bottom !important;}
.valignmiddle { vertical-align: middle !important;}
.b, strong, b { font-weight: bold; }
.i, em { font-style: italic;}
.absolute {position: absolute;}
.relative {position: relative !important;}
.radius {border-radius: 4px;}
.semiopacity { opacity: 0.7; -moz-opacity: 0.7; }
.nowrap {white-space: nowrap;}
.linethrough, .line-through { text-decoration: line-through;}


.block { display: block !important;}
.none { display: none !important;}
.inline-block { display: inline-block !important; vertical-align: middle;}
.inline { display: inline !important;}
.table { display: table; width: 100%; vertical-align: top;}
.table.table-fixed { table-layout: fixed; }


h1, .h1, h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 { line-height: 1.2; }

h1, .h1 { font-size: 1.6em; line-height: 1.1; font-weight: 400; margin-bottom: 1.1em; font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; }
h2, .h2 { font-size: 1.6em; font-weight: 300; margin: 1.7em 0 1em; font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; }
h3, .h3 { font-size: 1.4em; margin: 1.4em 0 1em; font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; }
h4, .h4 { font-size: 1.1em; margin: 1.3em 0 .5em; font-weight: 600;}
h5, .h5 { font-size: 1em; margin: 1.2em 0 .5em; font-weight: bold;}
h6, .h6 { font-size: 1em; margin: 1.1em 0 .3em; }
h1, h2, h3, .h1, .h2, .h3 { }
h4, h5, h6, .h4, .h5, .h6 { margin-bottom: 10px; }

h1:first-child,, h2:first-child,, h3:first-child,, .h1:first-child, .h2:first-child, .h3:first-child { margin-top: 0; }


.font10 {font-size: 10px !important; }
.font11 {font-size: 11px !important; }
.font12 {font-size: 12px !important; }
.font13 {font-size: 13px !important; }
.font14 {font-size: 14px !important; }
.font15 {font-size: 15px !important; }
.font16 {font-size: 16px !important; }
.font17 {font-size: 17px !important; }
.font18 {font-size: 18px !important; }
.font20 {font-size: 20px !important; }
.font22 {font-size: 22px !important; }
.font24 {font-size: 24px !important; }
.font26 {font-size: 26px !important; }
.font27 {font-size: 27px !important; }
.font28 {font-size: 28px !important; }
.font30 {font-size: 30px !important; }
.font36 {font-size: 36px !important; }
.font40 {font-size: 40px !important; }
.font44 {font-size: 44px !important; }
.font72 {font-size: 72px !important; }

.lh1 { line-height: 1;}
.lh16 { line-height: 16px;}
.lh20 { line-height: 20px;}


.overflow { overflow: hidden;}
.hover {text-decoration: none !important;}
.hover:hover {text-decoration: underline !important;}
.unhover {text-decoration: underline !important;}
.unhover:hover {text-decoration: none !important;}
.up {text-transform: uppercase;}
.capitalize {text-transform: capitalize;}
.underline { text-decoration: underline;}

.colorwhite {color: #fff !important;}
.colorblack { color: #2C3E50;}
.colorgrey {color: #a7a9ac;}
.colorlgrey {color: #999999;}
.colorred {color: #ff020c;}
.colorblue {color: #5b8db7;}
.colorlblue {color: #5b8db7;}
.colorpink {color: #fa889f;}
.colorgreen {color: #558b2f;}
.colorlgreen {color: #4B201C;}
.colorred {color: #ef474e;}
.colororange {color: #FF6F00;}
.coloryellow {color: #ffd530;}
.colordarkgrey { color: #90A4AE; }

.black { background-color: black;}


.mgt0 {margin-top: 0 !important;} .mgt5 {margin-top: 5px !important;} .mgt10 {margin-top: 10px !important;} .mgt15 {margin-top: 15px !important;} .mgt20 {margin-top: 20px !important;} .mgt25 {margin-top: 25px !important;} .mgt30 {margin-top: 30px !important;} .mgt35 {margin-top: 35px !important;} .mgt40 {margin-top: 40px !important;} .mgt45 {margin-top: 45px !important;} .mgt50 {margin-top: 50px !important;} .mgt70 {margin-top: 70px !important;} .mgt75 {margin-top: 75px !important;} .mgt80 {margin-top: 80px !important;} .mgt85 {margin-top: 85px !important;} .mgb0 {margin-bottom: 0px !important;}
.mgb5 {margin-bottom: 5px !important;} .mgb10 {margin-bottom: 10px !important;} .mgb15 {margin-bottom: 15px !important;} .mgb20 {margin-bottom: 20px !important;} .mgb25 {margin-bottom: 25px !important;} .mgb30 {margin-bottom: 30px !important;} .mgb35 {margin-bottom: 35px !important;} .mgb40 {margin-bottom: 40px !important;} .mgb45 {margin-bottom: 45px !important;} .mgb50 {margin-bottom: 50px !important;} .mgb55 {margin-bottom: 55px !important;} .mgb60 {margin-bottom: 60px !important;} .mgb65 {margin-bottom: 65px !important;} .mgb70 {margin-bottom: 70px !important;} 
.mgr0 {margin-right: 0 !important;} .mgr5 {margin-right: 5px !important;} .mgr10 {margin-right: 10px !important;} .mgr15 {margin-right: 15px !important;} .mgr20 {margin-right: 20px !important;} .mgr25 {margin-right: 25px !important;} .mgr30 {margin-right: 30px !important;} .mgr35 {margin-right: 35px !important;} .mgr40 {margin-right: 40px !important;} .mgr45 {margin-right: 45px !important;} .mgr50 {margin-right: 50px !important;} .mgr55 {margin-right: 55px !important;} .mgr60 {margin-right: 60px !important;} 
.mgl5 {margin-left: 5px !important;} .mgl10 {margin-left: 10px !important;} .mgl15 {margin-left: 15px !important;} .mgl20 {margin-left: 20px !important;} .mgl25 {margin-left: 25px !important;} .mgl30 {margin-left: 30px !important;} .mgl35 {margin-left: 35px !important;} .mgl40 {margin-left: 40px !important;} .mgl45 {margin-left: 45px !important;} .mgl50 {margin-left: 50px !important;}


input[type=checkbox] { margin: -2px 4px 0 0;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea { -webkit-autofill: none; -webkit-appearance: none;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
    box-sizing: border-box;
    -webkit-appearance: none;
    transition: all 0.2s ease;
    border-radius: 2px;
    border: 1px solid #bfc1c3;

}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"], input[type="url"]:focus, textarea:focus{
 
}
select { 
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjUiPjxwYXRoIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTggLjdMNy4zIDAgNCAzLjMuNyAwIDAgLjdsNCA0IDQtNHoiLz48L3N2Zz4=") no-repeat scroll calc(100% - 10px) center / 13px #fff;
    -webkit-appearance: none;
    border: 1px solid #d4d4d4;
    outline: none;
    -webkit-appearance: menulist;
    border-radius: 2px;

}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { background-color: rgba(255,255,255,.12); }

.form_wrap { border: 1px solid #d7d7d7; background-color: #fff; padding: 1.2em; box-sizing: border-box; border-radius: 2px; }
.form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="number"], .form input[type="tel"], .form input[type="url"], .form textarea {
    border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
    padding: .65em .8em; border: 1px solid #bfc1c3;
    width: 100%; max-width: 100%; box-sizing: border-box;
    background-color: #fff;
    -webkit-appearance: none;
    font-size: 14px;
}

.form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="email"]:focus, .form input[type="number"]:focus, .form input[type="tel"]:focus, .form input[type="url"]:focus, .form textarea:focus {
    border-color: #212121;
} 
.form .err input[type="text"], .form .err input[type="password"], .form .err input[type="email"], .form .err input[type="number"], .form .err input[type="tel"], .form .err input[type="url"], .form .err textarea {
  border-color: red; 
}
.form input[type="submit"] {}
.form select { 
    border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
    padding: .65em .8em; border: 1px solid #bfc1c3;
    width: 100%; max-width: 100%; box-sizing: border-box;
    -webkit-appearance: none;  -moz-appearance: none;
    font-size: 14px;
}
.form select:focus { border-color: #212121; }
.form .field1 { margin-bottom: 1em; }
.form .field1 label { font-size: .8em; margin-bottom: .4em; display: block; }
.form .h3 { margin-top: 0; }

.form-group { margin-bottom: 1.6em; }
.form-group label { margin-bottom: .2em; font-size: .8em; display: block; }
.form-check { margin-bottom: 1.6em; }







.txt { line-height: 1.3; /*font-size: 0.9em;*/ margin-bottom: 1em;  }
.txt h2, .txt h3, .txt h4 { line-height: 1.3;}
.txt p { margin-bottom: 1.4em;}
.txt ul  { margin-bottom: 1.4em; padding-left: 1em; }
.txt ul > li { position: relative; margin-bottom: 0.4em; overflow: hidden; padding-left: 1.3em; }
.txt ul > li:before { background-color: #018fa1; border-radius: 50%; content: ''; height: 8px; left: 0; position: absolute; top: .3em; width: 8px; z-index: 1;}
.txt ol { counter-reset: counter 0;  margin-bottom: 1.4em; padding-left: 1em; list-style: none outside;}
.txt ol > li { position: relative; margin-bottom: 0.4em; overflow: hidden; }
.txt ol > li:before { content: counter(counter)'.'; counter-increment: counter 1; color: #018fa1; display: inline-block; width: 1.3em; font-weight: bold}
.txt blockquote { background-color: #f3f3f3; margin-bottom: 1.4em; padding: 25px 25px 25px 90px; position: relative; color: #333; font-size: 14px; font-style: italic;}
.txt blockquote:before { position: absolute; content: '"'; top: 50%; left: 1em; transform: translateY(-50%); }
.txt table { margin-bottom: 1.4em; border: 1px solid #018fa1 !important; background-color: #fff; min-width: 70%;}
.txt table td { text-align: center; border: 1px solid #e5e7ea; padding: 10px 25px;}
.txt table tr:nth-child(odd) td { background-color: #f9fafc; }
.txt table tr:first-child td { text-transform: uppercase; background-color: #018fa1; color: #fff; border: 1px solid #018fa1; font-weight: 600;}
.txt *:last-child { margin-bottom: 0;}

.btn {
    -ms-flex-align: center;
        align-items: center;
    border-radius: 2px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 36px;
    line-height: 36px;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    font-size: 14px;
    font-weight: 500;
    -ms-flex-pack: center;
        justify-content: center;
    min-width: 88px;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s cubic-bezier(.25,.8,.5,1),color 1ms;
    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #fff;
    padding: 0 2em;
    border: 0 none;
    background-color: #00BCD4;
    text-align: center;
}
.btn:hover { background-color: #018fa1; color: #fff; }
.btn:active { transform: translateY(2px); background-color: #00BCD4; }

.btn_red { background-color: #E64A19; }
.btn_red:hover { background-color: #BF360C; }
.btn_red:active { background-color: #E64A19; }

.btn_green { background-color: #689F38; }
.btn_green:hover { background-color: #33691E; }
.btn_green:active { background-color: #689F38; }

.btn_orange { background-color: #FF8F00; }
.btn_orange:hover { background-color: #FF6F00; }
.btn_orange:active { background-color: #FF8F00; }

.btn_purple { background-color: #7B1FA2; }
.btn_purple:hover { background-color: #4A148C; }
.btn_purple:active { background-color: #7B1FA2; }


.btn.btn_white { background-color: #fff; color: #018fa1; box-shadow: none; border: 1px solid #ff6f00; border-color: transparent;}
.btn.btn_white:hover { box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);}
.btn.btn_white:active { background-color: #e0e0e0; }

.btn_big { height: 3em; padding: 0 2em; line-height: 3em;  }
.btn_min { height: 2em; padding: 0 1.5em; line-height: 2em; font-size: 0.8em; text-transform: none; }
.btn_round { border-radius: 2em; }
.btn_icon { padding: 0; width: 36px; text-align: center; min-width: 36px; }

.btn_blank { background-color: transparent; box-shadow: none; color: #018fa1; }
.btn_blank:hover { background-color: #efefef; color: #018fa1;}
.btn_blank:active { background-color: #e0e0e0; color: #018fa1;}

.btn_block { width: 100%; }


.btn:disabled { background-color: #999; cursor: no-drop; }

h2:first-child,
.h2:first-child { margin-top: 0; }


.char_list { overflow: hidden; max-width: 600px; margin-bottom: 1em;}
.char_list__item { display: block; position: relative; margin-bottom: 5px; font-size: .9em; }
.char_list__item > span { display: -moz-inline-box; display: inline-block; vertical-align: top; letter-spacing: normal; width: 130px;}
.char_list__item > span:first-child { vertical-align: top; margin-right: -50%; overflow: hidden; position: relative;}
.char_list__item > span:last-child { vertical-align: bottom; margin-left: 50%; width: 47%;}
.char_list__item > span:first-child:after { display: -moz-inline-box; display: inline-block; width: 100%; margin: 0 -100% 0 0; vertical-align: baseline; border-bottom: 1px dotted #ccc; content: '';}
.char_list__item a { color: #4496CB;}


.shadow { box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); }


/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/






.main { padding-top: 70px; }



@media (max-width: 370px) {
  h1, .h1 { font-size: 1.3em}
  h2, .h2 { font-size: 1.2em}
  h3, .h3 { font-size: 1.1em}
  h4, .h4 { font-size: 1em}
  h5, .h5 { font-size: 1em}
  h6, .h6 { font-size: 1em}
}
